---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
  href: string;
  disabled?: boolean;
  class?: string; // overrides Astro's native `class` support
}

const {
  id,
  href,
  class: className = "",
  ["aria-label"]: ariaLabel,
  title,
  disabled = false,
  ...rest
} = Astro.props;
---

{
  disabled ? (
    <span id={id} title={title} aria-disabled={disabled} {...rest}>
      <slot />
    </span>
  ) : (
    <a id={id} href={href} aria-label={ariaLabel} title={title} {...rest}>
      <slot />
    </a>
  )
}
